@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="slider">
    <ul>
        <li>
            <img src="imagenes/banco1.jpg" alt="">
        </li>
        <li>
            <img src="imagenes/banco2.jpg" alt="">
        </li>
        <li>
            <img src="imagenes/banco3.jpg" alt="">
        </li>
        <li>
            <img src="imagenes/banco4.jpg" alt="">
        </li>
    </ul>
</div>
<div id="presentacion">
    <div class="primero">
        <h3>¿Quiénes somos?</h3>
        <p>
            Nuestro objetivo siempre fue convertir cada agencia en una auténtica tienda financiera, donde nuestros clientes construyeran junto a nosotros el banco confiable,
            innovador y sólido que seguimos siendo hoy. Buscando apoyar a nuestra distinguida clientela con un servicio eficaz y confiable, con nosotros nunca estas solo.
        </p>
        <h3>Misión</h3>
        <p>
            Promover el éxito de nuestros clientes con soluciones financieras adecuadas para sus necesidades,
            facilitar el desarrollo de nuestros colaboradores, generar valor para nuestros accionistas y apoyar el desarrollo sostenido del país.
        </p>
        <h3>Visión</h3>
        <p>
            Ser el Banco líder en todos los segmentos y productos que ofrecemos.
        </p>
    </div>
    <div class="segundo">
        <div id="cuadro">
            <img src="imagenes/banco5.jpg" alt="" height="70px">
        </div>
    </div>

